*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainFrame {
    border: 5px rgb(208, 0, 0) solid;
    width: 400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 4%/4%;
    overflow: hidden; /* Ensure that content inside .mainFrame doesn't overflow */
}

.screen {
    border: 1px rgba(0, 0, 0, 0) solid;
    border-bottom: 5px black solid;
    margin-bottom: 10px;
    background-color: rgb(71, 69, 69);
    border-top-left-radius: 4%/4%; /* Match the border radius of .mainFrame */
    border-top-right-radius: 4%/4%; /* Match the border radius of .mainFrame */
}

.screen--inner{
    border: 2px blue solid;
    height: 120px;
    margin: 15px;
    border-radius: 10%/30%;
    background-color: white;
}

.num, .operator {
    height: 70px;
    aspect-ratio: 1;
    font-weight: bold;
    font-size: 20px;
}
.num.btn-dot{
    font-size: 30px;
    padding-bottom: 20px;
}

.botPart{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.row-1,.row-2,.row-3,.row-4,.row-5{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.delete{
    height: 50px;
    width: 100px;
    align-self: flex-start;
}
.operator{
   background-color: rgb(255, 166, 0);
   color : white;
   font-size: 40px;
}

.btn-multiply{
    padding-top: 20px;
}