*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainFrame{
    border: 2px red solid;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}